:root{
     --main-color:white;
     --secundary-color:blue;
     --main-height:512px;
     --main-width:1024px;
    }

body{
    box-sizing:border-box;
    background:url(Lofoten.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:var(--main-height);
    width:var(--main-width);
    border-style:solid;
    border-color:var(--main-color);
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap:wrap;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:1000;
    overflow-y:scroll;
    }
header,nav,main,aside,footer,.aside2,.aside3,.aside4{
    align-items:center;
    display:flex;
    justify-content:center;
    border-color:var(--main-color);
    border-style:solid;
    } 
header,nav{
    width:var(--main-width);
    } 
main,aside{
    height:300px;
    font-size:10px;
    width:503px;
    flex-wrap:wrap;
    } 
header,nav,main,aside,footer,.p2{
     color:var(--main-color);
     } 
header{
    height:50px;
    column-gap:150px;
    }    
nav{
    height:80px;
    font-size:50px; 
    } 
.p1 {
    font-size:30px;;
    text-shadow: 5px 5px 5px rgb(4, 47, 238);
    color:rgb(247, 247, 38);
    margin-top:-30px;
    }   
.p2 {
    font-size:15px;
    color:var(--main-color);
    margin-top:-120px;
    }  
a{
    text-decoration:none;
    color:var(--main-color);
    }
a:active{
    color:greenyellow;
    text-decoration:underline;
    }
video{
    width:502px;
    height:300px;
    }
footer,.aside3,.aside4{
    flex-direction:column;
    }
footer,.aside3,.aside4{
    font-size:10px;
    }
.p3{
    line-height:1px;
    }
footer,.aside2{
    width:400px; 
    height:55px;   
   }
.aside2{
    font-size:20px;
   }
.aside3,.aside4{
    width:97px;   
    height:55px;
    font-size:35px; 
   }
.a1,footer{
    color:yellow;
    text-shadow: 5px 5px 5px rgb(4, 47, 238);
   }
.a2{
    color:var(--secundary-color);
   }
.a3{
    color:var(--main-color);
   }
